---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="portfolio of Ryuichi.Hagioka">
	<main>
		<h2>-History-</h2>
		<p>
		国内メーカーにてスマートフォンの電子回路設計業務に従事する傍ら、業務改善チームを立ち上げ、主にpythonを使用した各種ツール/システムを開発、所属組織に導入することで人件費換算で1億円/年に相当する業務改善を行いました。
		</p>
		<p>
		2019年 Scrum.inc認定スクラムマスター取得。同社にてAgile for hardware導入を推進。
		</p>
		<p>
		2022年からは副業として、電子回路設計やシステム開発を行うエンジニアとして業務委託を引き受けており、
		<ul>
			<li>AWSサービスを利用した業務効率化システムの提案/開発</li>
			<li>センサデータから行動推定を行うアルゴリズムの開発</li>
			<li>動画データから動体検知などによる行動推定システムの開発</li>
			<li>ChatGPTを活用したカスタマーサポートサービスシステムの開発</li>
		</ul>
		など業務委託いただいています。
		</p>

		<h2>-Skills-</h2>
		<ul>
			<li>電子回路設計</li>
			<li>システム開発</li>
			<li>Agile for hardwareコンサルティング</li>
		</ul>

		<h2>-Works-</h2>
		<ul role="list" class="link-card-grid">
			<Card
				href="/portfolio/work_petvoice"
				title="株式会社PetVoice様"
				body="AIプロダクト開発支援, AIカスタマーサポートサービスの開発/運用 など"
			/>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #333333;
		font-size: 20px;
		line-height: 1.6;
	}
	h2 {
		font-size: 2rem;
		font-weight: 800;
		line-height: 1;
		text-align: left;
		margin-bottom: 1em;
		color: #333333;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
