---
import Layout from '../layouts/Layout.astro';
---

<Layout title="株式会社PetVoice様 開発案件">
	<main>
		<h2><a href="https://www.petvoice.co.jp/">株式会社PetVoice様</a></h2>
        <h3>ご依頼内容</h3>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: #333333;
		font-size: 20px;
		line-height: 1.6;
	}
	h2 {
		font-size: 2rem;
		font-weight: 800;
		line-height: 1;
		text-align: left;
		margin-bottom: 1em;
		color: #333333;
	}
</style>
