---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="portfolio of RHAGIOKA" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header><a href="/portfolio"><span>rhagioka's portfolio</span></a></header>
		<main>
		<slot />
		</main>
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 108, 134;
		--accent-light: 204, 204, 250;
		--accent-dark: 100, 100, 150;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #eeeeee;
		background-size: 224px;
	}
	body {
      margin: 0;
    }
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	header {
      background-color: #fff;
      height: 48px;
    }
	span {
      font-size: 32px;
    }
	a {
      text-decoration: none;
      color: #000000;
      cursor: pointer;
    }
</style>
